.grid-container{
  display:grid;
  grid-template-areas:
          'header header header header header header'
    'main main main main main menu';
}

.header{
    border: 3px #f8e9a1 solid;
    grid-area: header;
    background-color: #374785;
    text-align: center;
    color: #f8e9a1;
}

.menu{
    border: 3px #f8e9a1 solid;
    grid-area: menu;
    background-color: #374785;
    padding: 10px;
    color: #f8e9a1
}

.main{
    width:800px;
    height:600px;
}

.canvas-container {
  --border-width: 3px;
margin:15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
    width: 800px;
    height: 600px;
  background: #222;
  border-radius: var(--border-width);
}

.canvas-container::after {
   position: absolute;
   content: "";
   top: calc(-1 * var(--border-width));
   left: calc(-1 * var(--border-width));
   z-index: -1;
   width: calc(100% + var(--border-width) * 2);
   height: calc(100% + var(--border-width) * 2);
   background: linear-gradient(
           60deg,
           hsl(224, 85%, 66%),
           hsl(269, 85%, 66%),
           hsl(314, 85%, 66%),
           hsl(359, 85%, 66%),
           hsl(44, 85%, 66%),
           hsl(89, 85%, 66%),
           hsl(134, 85%, 66%),
           hsl(179, 85%, 66%)
   );
   background-size: 300% 300%;
   background-position: 0 50%;
   border-radius: calc(2 * var(--border-width));
   animation: moveGradient 4s alternate infinite;
 }


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.form-drop{
    max-width: 1920px;
    max-height: 1080px;
}

.drop-zone {
    margin-top:50px;
    margin-left:150px;
  max-width: 800px;
    width:800px;
  max-height: 600px;
    height:450px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #24305e;
  border: 4px dashed #24305e;
  border-radius: 10px;
  position:relative; z-index:2;
}

.drop-zone--over {
  border-style: solid;
}
.drop-zone__input {
  display: none;
}
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eae2b7;
  position: relative;
  background-size: cover;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
  color: #ffffff;
  background: rgba(0, 48, 73, 0.75);
  font-size: 14px;
  text-align: center;
}

.canvas {
  position: absolute;z-index: 0;
}

.canvasOver{
  position: absolute; z-index: 1;
}

body {
  background-color: #a8d0e6;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


#contrastSlider{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

.slider:hover {
    opacity: 1;
}

.divider{
    font-size: 1.2em;
}

.btn{

    background: #00000000;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    height: 1.5em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
.btn:hover{
    color:#000000;
    background-color:#FFFFFF;
}



